* {
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
}
.left-content p {
    font-weight: bold;
    text-align: center;
}
.left-content p:nth-child(1) {
    color: white;
    font-size: xx-large;
}
.left-content p:nth-child(1) span {
    color: black;
}
.left-content p:nth-child(2) {
    color: white;
    padding-top: 8px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.home {
    height: 100vh;
    /* background-color: aquamarine; */
    background-image: url('/images/bg/figig-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 36px;
}
.auth-header p {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 30px;
}
.auth {
    height: fit-content;
    background: #f5f5f5;
    padding: 50px 0;
}
.card {
    width: 350px;
    height: 350px;
    background: #ffffff;
    border-radius: 9px;
    margin: auto;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}
.auth-card-or p {
    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
    padding: 25px 0;
    color: #333;
}
.card-content-header {
    display: flex;
    justify-content: center;
    padding-top: 42px;
}
.card-content img {
    width: 95px;
}
.card-content p {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: #0077cc;
    padding-top: 15px;
}
.card-content p a {
    text-decoration: none;
    color: #005fa3;
}
.card-container-image {
    background: #e0e0e0;
    border-radius: 50%;
    padding: 40px 49px;
    text-align: center;
}

.footer {
    width: 100%;
    height: fit-content;
    background: #36200C;
    color: white;
    padding-top: 45px;
    padding: 30px 0;
}
.footer-logo {
    display: flex;
    justify-content: center;
}
.footer-logo img {
    width: 200px;
}
.footer-links-container {
    display: flex;
    justify-content: center;
    gap: 61px;
    flex-wrap: wrap;
    padding: 28px 0;
}
.footer-links ul {
    list-style: none;
}
.footer-links ul li {
    line-height: 25px;
    font-size: large;
}
.footer-links ul li a {
    text-decoration: none;
    color: white;
}
.footer-terms ul {
    display: flex;
    gap: 18px;
    list-style: none;
}
.footer-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 6px;
}

.figuig-to-you p {
    text-align: center;
    padding: 50px 0;
    font-weight: bold;
    font-size: x-large;
}
.figuig-to-you-content {
    font-weight: 700;
    line-height: 23px;
    padding: 8px 15px;
}
.ligne {
    height: 61px;
}
.ligne img {
    rotate: 90deg;
    width: 23px;
    margin-top: -177px;
    transform: translateX(0);
    margin-left: -41px;
}
.ligne img:nth-child(2) {
    display: none;
}
.ligne-container {
    display: flex;
    justify-content: center;
    gap: 430px;
}
.figuig-to-you-container {
    /* height: 405px; */
    height: fit-content;
    padding: 20px 0;
}
.figuig-to-you-content p:nth-child(2) {
    direction: rtl;
    padding: 14px 55px;
}
.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}
.logo img {
    width: 210px;
}
.btn-home {
    width: 351px;
    height: 80px;
    background-color: black;
    border-radius: 44px;
    margin: auto;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: background 0.3s ease;
    border: 2px solid #FF7757;
}
.btn-home:hover {
    background-color: #6a760c;
}
.btn-home div a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-size: larger;
}
.btn-home-left {
    width: 50%;
}
.btn-home-right {
    width: 50%;
    background:  #d98f5a;
    padding: 27px 0;
    border-radius: 43px;
    transition: background 0.3s ease;
    border: 3px solid;
}
.btn-home-right:hover {
    background:  #5C4033;
}
.guide-container {
    width: 100%;
    height: fit-content;
    /* background-color: #005fa3; */
    background-image: url('/images/bg/bg-1.png');
    padding: 15px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -48px;
}
.guide-left-text p {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    padding: 20px 0;
    color: white;
}
.guide-left-ste {
    background: black;
    width: fit-content;
    padding: 15px 61px;
    border-radius: 14px;
    margin: auto;
}
.guide-left-ste p:nth-child(2) {
    font-weight: bold;
}
.guide-left-ste p {
    color: white;
}
.guide-right-img-1 {
    text-align: center;
    padding: 30px 0;
}
.guide-right-img-1 img {
    width: 255px;
    border-radius: 15px;
}
.guide-right-img-2 {
    display: none;
}
.etapes-container {
    height: fit-content;
}
.etapes-header p {
    text-align: center;
    padding: 35px 0;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: underline;
}
.etapes-r, .etapes {
    width: 100%;
    height: 531px;
    background-color: #EA8900;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-bottom: 110px;
}
.etapes-parte-1 {
    text-align: center;
    font-weight: bold;
    padding: 19px 0;
}
.etapes-parte-1 p:nth-child(1) {
    font-size: xx-large;
}
.etapes-parte-1 p:nth-child(2) {
    font-size: 30px;
    padding-top: 8px;
    color: white;
    font-weight: bold;
}
.etapes-parte-1-content img {
    width: 150px;
    margin-top: 18px;
}
.etapes-parte-1-content p {
    padding: 8px 25px;
    color: white;
}
.etapes-parte-2 {
    text-align: center;
}
.etapes-parte-2 img {
    width: 200px;
}
.etapes-parte-2-r img {
    width: 200px;
}
.etapes-parte-2-r {
    text-align: center;
}
@media (min-width: 1000px) {
    .etapes {
        width: 82%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 270px;
        border-bottom-right-radius: 270px;
        display: flex;
        align-items: center;
    }
    .etapes-parte-1 {
        text-align: unset;
    }
    .etapes-parte-1-header {
        padding-left: 53px;
    }
    .etapes-parte-1-content {
        padding-left: 220px;
    }
    .etapes-parte-1-content p {
        max-width: 84%;
    }
    .etapes-parte-2 {
        position: relative;
        left: 98px;
    }
    .etapes-parte-1-header p:nth-child(2) {
        font-size: 45px !important;
    }

    .etapes-r {
        width: 79%;
        border-bottom-left-radius: 270px;
        display: flex;
        align-items: center;
        direction: rtl;
        border-top-left-radius: 270px;
        position: relative;
        /* left: 285px; */
        height: 531px;
        background-color: #EA8900;
        margin-bottom: 110px;
        border-bottom-right-radius: 0;
        margin-left: auto;
    }
    .etapes-parte-1-header {
        padding-right: 53px;
    }
    .etapes-parte-1-content {
        padding-right: 220px;
    }
    .etapes-parte-2-r {
        position: relative;
        left: -98px;
    }
    .etapes-parte-1-content-r {
        max-width: unset !important;
    }
}
@media (min-width: 1500px) {
    .etapes-parte-2 {
        left: 168px;
    }
}
@media (min-width: 1700px) {
    .etapes-parte-2 {
        left: 30%;
    }
    .etapes-parte-2-r {
        position: relative;
        left: -29%;
    }
}

@media (min-width: 1000px) {
    .etapes-parte-1-content {
        padding-right: unset;
    }
}
@media (min-width: 1176px) {
    .etapes-parte-1-content {
        padding-right: 74px;
    }
}
@media (min-width: 1262px) {
    .etapes-parte-1-content {
        padding-right: 150px;
    }
}
@media (min-width: 1350px) {
    .etapes-parte-1-content {
        padding-right: 220px;
    }
}
@media (min-width: 1000px) {
    .guide-left-text p {
        text-align: unset;
        font-size: xxx-large;
    }
    .guide-left-ste {
        margin: unset;
    }
    .guide-right {
        display: flex;
        align-items: center;
        gap: 35px;
        padding-right: 30px;
    }
    .guide-right-img-2 {
        display: unset;
        position: relative;
        top: 30px;
    }
    .guide-right-img-2 img {
        width: 239px;
        border-radius: 15px;
    }
    .guide-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 119px;
    }
    .guide-left {
        padding-left: 40px;
    }
    .guide-right-img-1 {
        position: relative;
        bottom: 30px;
}
}
@media (min-width: 1075px) {
    .auth-cards {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left-content p:nth-child(1) {
        font-size: 45px;
    }
    .left-content p:nth-child(2) {
        font-size: xx-large;
    }
    .figuig-to-you-container {
        height: 355px;
    }
}

@media (min-width: 600px) {
    .ligne img {
        rotate: 90deg;
        width: 23px;
        margin-top: -177px;
        transform: translateX(0);
        position: unset;
        margin-left: 0;
    }
    .figuig-to-you-content {
        font-weight: 700;
        line-height: 28px;
        padding: 8px 10% 8px 76px;
        font-size: larger;
    }

    .figuig-to-you-container {
        background-image: url('/images/bg/left-bg-1.png'), url('/images/bg/right-bg-1.jpeg');
        background-repeat: no-repeat, no-repeat;
        background-position: left top, right top;
        background-size: 259px, 259px;
    }
    .auth {
        background-image: url('/images/bg/left-bg-2.png'), url('/images/bg/right-bg-2.png');
        background-repeat: no-repeat, no-repeat;
        background-position: left bottom, right bottom;
        background-size: 124px, 124px;
    }
}
@media (min-width: 860px) {
    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 99px;
    }
}

@media (min-width: 1120px) {
    .ligne img {
        rotate: 90deg;
        width: 23px;
        margin-top: -177px;
        transform: translateX(0);
        position: unset;
        margin-left: 0;
    }
    .figuig-to-you-content {
        font-weight: 700;
        line-height: 28px;
        padding: 8px 10% 8px 76px;
        font-size: larger;
    }
    .ligne img:nth-child(2) {
        display: unset;
    }
}